h1 { 
    color: blue;
    margin: 0px;
    margin-left: 10px;
    padding: 10px;
    margin-top: 34px;
    text-align: center;
    text-transform: uppercase;
} 

main {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 300px;
}

main > div {
    margin: 2%;
}

.chart-container {
    padding: 2px;
}

.chart-container > * {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}